.movieInfoWrap {
  display: flex;
  padding: 20px;
}

.movieInfoPoster {
  display: block;
  width: 250px;
  height: 350px;
}
.movieAbout {
  margin-right: 400px;
}
.overview {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.additionalOverview {
  font-weight: 500;
}
.overviewContent {
  width: 550px;
  font-weight: 500;
}
.posterWrap {
  margin-right: 80px;
}
