.item {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}
.itemLink {
  text-decoration: none;
  color: rgb(56, 55, 55);
  &:hover {
    color: rgb(214, 49, 49);
  }
  margin: 15px;
}
.poster {
  width: 250px;
  height: 350px;
  margin-bottom: 5px;
}
.title {
  font-weight: 500;
  margin-bottom: 5px;
}
.release {
  font-weight: 500;
  font-size: 10px;
}
