.backLink {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  box-shadow: rgb(240 236 236 / 53%) 0px 0px 3px 0px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
}
